*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #101935;
    color: #fff;
    height: 3.5rem;
    font-family: 'Lucida Sans';
    line-height: 3rem;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
}

.choice:hover{
    background-color: #101935;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

#score{
    font-size: 2rem;
    color: #564787;
}

#user-score , #comp-score{
    font-size: 3rem;
}

#msg{
    font-size: 2.7rem;
    margin-top: 80px;
    font-family: Verdana;
    display: inline-block;
    background-color: #DBCBD8;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}